#!/bin/bash


### EDit these variables BEFORE running

### Global analysis parameters
export OUPUT_PATH=/project/def-ilafores/analysis/20220316_humann_pipeline_dev/test_make_custom_buglist_input

### HUMANN run parameters
#sample file: 2 columns
#sample_name\t/path/to/fastq
# NO HEADERS!!!
export HUMANN_RUN_SAMPLE_TSV="/project/def-ilafores/analysis/20220316_humann_pipeline_dev/test_make_custom_buglist_input/humann.sample.tsv"
export NT_DB="/nfs3_ib/ip29-ib/ssdpool/shared/ilafores_group/humann_dbs/boreal_moss/boreal_moss-bugs_list"
export PROT_DB="/project/def-ilafores/common/humann3/lib/python3.7/site-packages/humann/data/uniref"
export CHOCOPHLAN_DB="/nfs3_ib/ip29-ib/ssdpool/shared/ilafores_group/humann_dbs/chocophlan"
export CUSTOM_CHOCOPHLAN_DB_NAME="boreal_moss"

### Make custom buglist db parameters
#sample file: 3 columns
#sample_name\t/path/to/fastq1\t/path/to/fastq2
# NO HEADERS!!!
export CUSTOM_DB_SAMPLE_TSV="/project/def-ilafores/analysis/20220316_humann_pipeline_dev/test_make_custom_buglist_input/buglist.sample.test.tsv"

# KNEADDATA options
export KNEADDATA_DB="/nfs3_ib/ip29-ib/ssdpool/shared/ilafores_group/host_genomes/Ppatens_index/Ppatens"
export SEQUENCER="TruSeq3"
export TRIMMOMATIC="SLIDINGWINDOW:4:30 MINLEN:50"
export BOWTIE2_OPTIONS="--very-sensitive"

#kraken options
export KRAKEN2_DB_PATH="/nfs3_ib/ip29-ib/ssdpool/shared/ilafores_group/kraken2_dbs/k2_pluspfp_16gb_20210517"

# bracken options
export READ_LEN="150"
export TAXONOMIC_LEVEL=(
    "D:domains"
    "P:phylums"
    "C:classes"
    "O:orders"
    "F:families"
    "G:genuses"
    "S:species"
)


### GLOBAL SLURM cofiguration
export SLURM_WALLTIME="35:00:00"
export SLURM_NBR_THREADS="24"
export SLURM_MEMORY="125G"
export SLURM_ALLOCATION="def-ilafores"
# FLAG that tells soft to copy NT_DB and PROT_DB locally on compute node
# MP2: Set to 0. Copying DB doesnt accelerate analysis
export SLURM_DB_COPY_LOCALSCRATCH=0
