#!/bin/bash

set -e

### EDit these variables BEFORE running

export OUPUT_PATH=/project/def-ilafores/analysis/20220316_humann_pipeline_dev
#sample file: 2 columns
#sample_name\t/path/to/fastq
# NO HEADERS!!!
export SAMPLE_TSV="/project/def-ilafores/analysis/20220316_humann_pipeline_dev/sample.tsv"

export NT_DB="/project/def-ilafores/common/humann3/lib/python3.7/site-packages/humann/data/custom_chocophlan/custom_chocophlan_database"
export PROT_DB="/project/def-ilafores/common/humann3/lib/python3.7/site-packages/humann/data/uniref"


### SLURM cofiguration
export SLURM_WALLTIME="35:00:00"
export SLURM_NBR_THREADS="24"
export SLURM_MEMORY="125G"
export SLURM_ALLOCATION="def-ilafores"
